{% extends 'base.html.twig' %}

{% block title %}#{{ post.id }} : {{ post.title }}{% endblock %}

{% block body %}
    {# <h1>#{{ post.id }} : {{ post.title }}</h1> #}


        <div class="container row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ path('posts_show', {'id': post.id}) }}"><img src="{{ asset('images/sample-1.jpg') }}" alt="Card Image">
                        <span class="card-title">#{{ post.id }} : {{ post.title }}</span></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        {{ post.date ? post.date|date('Y-m-d H:i:s') : '' }} / By : <a href="{{ path('users_show', {'id': post.author.id}) }}">{{ post.author.username }}</a>
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="card-content">
                        <h4>Comments</h4>
                        <div>
                          <ul class="collection">
                            {% for comment in post.comments %}

                            <li class="collection-item avatar">
                                <img src="{{ asset('images/autop.jpg') }}" alt="" class="circle">
                                <span class="title"><a href="{{ path('users_show', {'id': 1})  }}">{{ comment.author.username }}</a></span>
                                <p>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}<br>
                                    {{ comment.content }}
                                </p>
                                {{ include('comments/_delete_form.html.twig') }}
                                {# <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> #}
                            </li>
                                
                            {% else %}
                                No commentarie found
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-action">
                        <h4>Comment this post</h4>
                        {{ include('comments/_form.html.twig') }}
                        
                        <hr>

                        {# <a class="" href="{{ path('comments_new', {'id': post.id}) }}">Comment this post</a> #}
                        <a class="waves-effect waves-light btn" href="{{ path('posts_index') }}">back to list</a>
                        <a class="waves-effect waves-light btn" href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                        {{ include('posts/_delete_form.html.twig') }}
                    </div>
                </div>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
            </div>
        </div>

{% endblock %}
