{% extends 'base.html.twig' %}

{% block title %}Bottles index{% endblock %}

{% block body %}
    <div class="center aligned">
        <h1>The Beach</h1>
        {% if bottles %}
            You've come a long long way together <br>
            Through the hard times and the good
        {% else %}
            The sea is actualy empty
        {% endif %}
        <br><br>
    </div>    
    <div class="center aligned">
        <a class="waves-effect waves-light btn-small" href="{{ path('bottles_find') }}"

        {% if bottles == null %}
            disabled
        {% endif %}
        >Find a bottle</a>
    </div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Receivers</th>
                <th>Content</th>
                <th>Date</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles %}
            <tr>
                <td>{{ bottle.bottle.id }}</td>
                <td>{{ bottle.bottle.title }}</td>
                <td>{{ bottle.bottle.author.username }}</td>
                <td>
                    {% for receiver in bottle.bottle.bottlesSent.receivers %}
                        <a href="{{ path('users_show', {id: receiver.id}) }}">{{ receiver.username }}</a> . 
                    {% else %}
                        No receivers yet
                    {% endfor %}
                </td>
                <td>{{ bottle.bottle.content }}</td>
                <td>{{ bottle.bottle.date ? bottle.bottle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_show', {'id': bottle.bottle.id}) }}">show</a>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_edit', {'id': bottle.bottle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


{% endblock %}
