{% extends 'base.html.twig' %}

{% block title %}Bottles index{% endblock %}

{% block body %}
<h1>The Beach</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles %}
            <tr>
                <td>{{ bottle.id }}</td>
                <td>{{ bottle.title }}</td>
                <td>{{ bottle.content }}</td>
                <td>{{ bottle.date ? bottle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_show', {'id': bottle.id}) }}">show</a>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_edit', {'id': bottle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
