{% extends 'base.html.twig' %}

{% block title %}Bottles index{% endblock %}

{% block body %}


{# <h1>
{% if user %}
    {{ dump(user) }}
{% endif %}
</h1> #}



    <div class="center aligned">
        <h1>The Beach</h1>
        <p>
            {% if bottles %}
                You've come a long long way together <br>
                Through the hard times and the good <br>
                {# <img src="https://cdn.dribbble.com/users/330915/screenshots/3749740/1_b3.gif" alt="Bottle  IMG" style="width: 300px"/> #}
            {% else %}
                The sea is actualy empty
            {% endif %}
        </p>
    </div>    
    <div class="center aligned">
        <a class="waves-effect waves-light btn-small" href="{{ path('bottles_find') }}"

        {% if bottles == null %}
            disabled
        {% endif %}
        >Find a bottle</a>
    </div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Receivers</th>
                <th>Content</th>
                <th>Date</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles %}
            <tr>
                <td>{{ bottle.bottle.id }}</td>
                <td>{{ bottle.bottle.title }}</td>
                <td>{{ bottle.bottle.author.username }}</td>
                <td>
                    {% for receiver in bottle.bottle.bottlesSent.receivers %}
                        <a href="{{ path('users_show', {id: receiver.id}) }}">{{ receiver.username }}</a> . 
                    {% else %}
                        No receivers yet
                    {% endfor %}
                </td>
                <td>{{ bottle.bottle.content }}</td>
                <td>{{ bottle.bottle.date ? bottle.bottle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_show', {'id': bottle.bottle.id}) }}">show</a>
                    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_edit', {'id': bottle.bottle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


{% endblock %}
