{% extends 'base.html.twig' %}

{% block title %}Bottles{% endblock %}

{% block body %}
    <h1>Bottles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bottle.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ bottle.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ bottle.content }}</td>
            </tr>
            <tr>
                <th>Receivers</th>
                <td>
                    {% for receiver in bottle.bottlesSent.receivers %}
                        <a href="{{ path('users_show', {id: receiver.id}) }}">{{ receiver.username }}</a> . 
                    {% else %}
                        No receivers yet
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bottle.date ? bottle.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sent</th>
                <td>
                {% if bottle.sent %}
                    <a class="disabled waves-effect waves-light btn-small dropdown-trigger" href="#!" data-target="dropdown2">Yes<i class="material-icons right">arrow_drop_down</i></a>
                {% else %}
                    <ul id="dropdown2" class="dropdown-content">
                        <li>

                            <form action="{{ path('bottles_send') }}" method="POST">
                                <input class="hide" name="bottleId" type="number" value="{{ bottle.id }}">
                                <button class="btn btn-large" type="submit">Send</button>
                            </form>

                        </li>
                    </ul>
                    <a class="waves-effect waves-light lighten-2 btn-small dropdown-trigger" href="#!" data-target="dropdown2">No<i class="material-icons right">arrow_drop_down</i></a>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bottles_index') }}">back to list</a>

    <a class="waves-effect waves-light btn-small" href="{{ path('bottles_edit', {'id': bottle.id}) }}">edit</a>

    {{ include('bottles/_delete_form.html.twig') }}
{% endblock %}
