{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    {# <h1>Users index</h1> #}

    <div class="collection">
        <span class="collection-header"><h4>Users Index</h4></span>
        {% for user in users %}
            <a class="collection-item avatar" href="{{ path('users_show', {'id': user.id}) }}">
                <img src="{{ user.avatar ? user.avatar : '/images/yuna.jpg' }}" alt="Card Image" class="circle">
                <span class="title">
                    <span class="card-title">#{{ user.id }} : {{ user.username }} / {{ user.country }}</span>
                </span>
                <p>
                    Bio : {{ user.bio }}
                </p>
                <i class="secondary-content material-icons">grade</i>
                {{ user.confirmed ? '<i class="secondary-content material-icons">grade</i>' : "" }}
                {#                 
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                #}
            </a>
        {% else %}
                <h4>no records found</h4>
        {% endfor %}
    </div>

{% endblock %}
