<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="">
                
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile-l" class="left hide-on-med-and-down">
                    {# <li class=""><a href="{{ path('bottles_new') }}" title="Create a bottle">Create new</a></li> #}
                    <li class=""><a href="{{ path('bottles_index') }}" title="Access all bottles\' list">My Bottles</a></li>
                    <!-- Faire une Dropdown "Bottles" pour y séparer les bouteilles écrites et les bouteilles recues -->
                    <li class=""><a href="" title="">Bottles found</a></li>
                    {# <li class=""><a class="disabled" href="" title="">Bottles waiting</a></li> #}
                    {# <li class=""><a class="disabled" href="" title="">Bottles sent</a></li> #}
                </ul>

                <a class="center brand-logo hide-on-small-and-down" href="{{ path('posts_index') }}" title="ABITS - A Bottle Into The Sea">ABITS</a>
                <a class="center brand-logo hide-on-med-and-up" href="{{ path('posts_index') }}" title="ABITS - A Bottle Into The Sea"><i>logo</i></a>

                <ul id="nav-mobile-r" class="right hide-on-small-and-down">
                    <li class=""><a href="{{ path('users_index') }}" title="">Profile</a></li>
                    <li class=""><a href="" title="">Log In</a></li>
                    <li class=""><a href="{{ path('users_new') }}" title="">Register</a></li>
                </ul>
                
            </div>
        </div>
    </nav>
</header>



<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('bottles_new') }}" title="Create a bottle">Create new</a></li>
    <li><a href="{{ path('bottles_index') }}" title="Access all bottles\' list">My bottles</a></li>
    <!-- Faire une Dropdown "Bottles" pour y séparer les bouteilles écrites et les bouteilles recues -->
    <li class=""><a href="" title="">Bottles found</a></li>
    <li class=""><a href="" title="">Bottles waiting</a></li>
    <li class=""><a href="" title="">Bottles sent</a></li>


    <div class="hide-on-med-and-up">
        <hr class="">
        <li class=""><a href="{{ path('users_index') }}" title="">Profile</a></li>
        <li><a href="" title="">Log In</a></li>
        <li><a href="{{ path('users_new') }}" title="">Register</a></li>
    </div>
</ul>